@import 'core/extra';

.form-header {
    position: absolute;
    background: #fff;
    line-height: 497px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    .text {
        display: inline-block;
        vertical-align: middle;
    }
}

.success-check {
    position: relative;
    img {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 36px;
        top: 9px;
    }
}

.success-big-title {
    margin-left: 82px;
    margin-bottom: 20px;
    font-size: 64px;
    letter-spacing: 1px;
    color: #BE2D42;
    line-height: normal;
    text-transform: uppercase;
}

.success-hint {
    margin-left: 145px;
    line-height: normal;
    font-size: 20px;
    color: #BE2D42;
    text-transform: uppercase;
}

.inl-form__group label.error {
    display: none !important;
}

.modalform__wrapper {
    .success-check {
        margin-top: 30px;
        img {
            left: 19px;
            top: 2px;
        }
    }

    @media (max-width: 1100px) {
        .success-check {
            margin-top: 0;
            img {
                padding-right: 10px;
            }
        }
      }
}

@media (max-width: 1100px) {
    .success-hint {
        margin-left: 0 !important;
    }
    .success-big-title {
        margin-left: 0;
    }
    .success-check {
        float: left;
        img {
            position: static;
        }
    }
}

@media (max-width: 767px) {
    .success-check {
        float: none;
        position: static;
        text-align: center;
        img {
            margin: 20px auto;
        }
    }
    .success-big-title {
        font-size: 23px;
    }
    .success-hint {
        font-size: 14px;
    }
}