@import 'core/extra';
.page-content {
    &__pagination {
        ul {
            >li {
                display: inline-block
            }
            >li+li:before {
                padding: 0 5px;
                content: "/\00a0"
            }
        }
    }
}

@media(min-width: 768px) {}