@import 'core/extra';
@import 'core/scaffolding';
@import 'core/header';
@import 'core/buttons';
@import 'core/icons';
@import 'core/footer';

@import 'sections/main-content';
@import 'sections/page-content';
@import 'sections/map';
@import 'sections/advantages-section';
@import 'sections/clients-block';
@import 'sections/production-block';
@import 'sections/production';
@import 'sections/red-form';
@import 'sections/reviews-block';

@import 'elements/about-page';
@import 'elements/bonus-icons';
@import 'elements/details';
@import 'elements/docs';
@import 'elements/help-hint';
@import 'elements/item-card';
@import 'elements/item-detail';
@import 'elements/item-numbers';
@import 'elements/specials';

@import 'mobile';