@import 'scaffolding';
@import 'header';
@import 'footer';
@import 'buttons';
@import 'icons';
$blue: #1665F1;
$lightblue: #548FF7;
$darkblue: #010B34;
$red: #BE2D42;
$blend: #E7EFFD;
$dark: #3A3F49;
$black: #030303;
$white: #FFFFFF;
/* main-content */

.main-content {
    &__image {
        position: relative;
        padding: 74px;
        background: url('../images/bg/bg-main.jpg') no-repeat center top;
        background-size: cover;
        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            background: rgba($darkblue, 0.66);
        }
    }
    &__title {
        color: $white;
        position: relative;
        z-index: 1;
        font-size: 50px;
    }
    &__info {
        color: $white;
        position: relative;
        z-index: 1;
        font-size: 24px;
    }
    &__styling-line {
        padding-left: 160px;
    }
    &__text {
        color: $white;
        position: relative;
        z-index: 1;
        font-size: 18px;
    }
}

/* advantages-section */

.advantages-section {
    .advantage {
        &__icon {
            float: left;
            margin-right: 20px;
        }
        &__content {
            padding-left: 90px;
        }
        &__name {
            font-size: 20px;
            color: $black;

            &--small {
                
            }
        }
        &__text {
            line-height: 24px;
            font-size: 18px;
        }
    }
}

/* production-block */

.production-block {}

/* clients-block */

.clients-block {
    &__text {
        line-height: 33px;
        font-size: 24px;
        color: $black;
    }
}

/* reviews-block */

.reviews-block {
    &__item {
        padding: 60px;
        box-shadow: 0px 15px 43px rgba(21, 21, 0, 0.0896456);
    }
    .review {
        &__img {
            float: right;
        }
        &__head {
            font-size: 18px;
            font-weight: bold;
            color: #010101;
            &.line-styling::before {
                left: -90px;
            }
        }
        &__hint {
            font-size: 16px;
            color: #010101;
        }
        &__text {
            line-height: 27px;
            font-size: 18px;
            color: #010101;
        }
    }
}

/* section-content */

.page-content {
    &__top {
        position: relative;
        padding: 80px;
        background-image: url(../images/bg/sectbg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background: rgba($darkblue, 0.66);
        }
    }
    &__title {
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        line-height: 60px;
        font-size: 50px;
        color: $white;
    }
    &__text {
        position: relative;
        text-transform: uppercase;
        z-index: 1;
        font-size: 18px;
        color: $white;
        opacity: 0.5;
    }
}

.item-card {
    width: calc(50% - 10px);
    height: 282px;
    position: relative;
    background: $white;
    box-shadow: 0px 15px 43px rgba(21, 21, 0, 0.0896456);
    float: left;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-top: 12px;
    transition: .2s all;
    &:hover {
        box-shadow: 0px 15px 43px rgba(21, 21, 0, 0.3);
        transform: scale(1.01);
    }
    &:nth-child(2n) {
        margin-left: 10px;
        margin-right: 0;
    }
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
    &__img-wrap {
        text-align: right;
        position: relative;
        min-height: 150px;
        img {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &__title {
        a {
            color: #000000;
        }
        font-size: 24px;
        padding: 35px;
        padding-right: 100px;
    }
}

.red-form {
    padding-top: 100px;
    padding-bottom: 80px;
    background: $red;
    color: $white;
    &__title {
        font-size: 60px;
        color: $white;
        text-transform: uppercase;
    }
    &__text {
        color: $white;
        font-size: 20px;
    }
    &__hint {
        font-size: 14px;
        color: rgba($blend, 0.63);
    }
    .inl-form {
        &__input {
            margin: 15px;
            padding: 25px;
            height: 75px;
            font-size: 18px;
            color: $dark;
            box-sizing: border-box;
            &::placeholder {
                color: rgba($dark, 0.3);
            }
        }
    }
}