@import 'scaffolding';
@import 'header';
@import 'footer';
@import 'buttons';
@import 'icons';
$blue: #1665F1;
$lightblue: #548FF7;
$darkblue: #010B34;
$red: #BE2D42;
$blend: #E7EFFD;
$dark: #3A3F49;
$black: #030303;
$white: #FFFFFF;
/* main-content */

.main-content {
    overflow: hidden;
    &__image {
        position: relative;
        padding: 52px;
        padding-bottom: 94px;
        background: url('../images/bg/bg-main.jpg') no-repeat center top;
        background-size: cover;
        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            background: rgba($darkblue, 0.66);
        }
    }
    &__title {
        position: relative;
        margin-bottom: 15px;
        font-size: 50px;
        line-height: 60px;
        color: $white;
        z-index: 1;
    }
    &__info {
        color: $white;
        position: relative;
        z-index: 1;
        font-size: 24px;
    }
    &__styling-line {
        margin-top: 32px;
        padding-left: 160px;
        max-width: 680px;
    }
    &__text {
        color: $white;
        position: relative;
        z-index: 1;
        font-size: 18px;
    }
}

/* advantages-section */

.advantages-section {
    padding: 60px 0;
    background: $blendbg;
    .advantage {
        margin-right: 20px;
        &__icon {
            float: left;
            margin-right: 20px;
        }
        &__content {
            padding-left: 90px;
        }
        &__name {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 8px;
            color: $black;
            &--small {}
        }
        &__text {
            line-height: 24px;
            font-size: 18px;
        }
    }
}

/* production-block */

.production-block {
    padding-top: 35px;
    padding-bottom: 70px;
    &__wrap {
        margin-top: 45px;
        margin-bottom: 60px;
    }
    &__btn {
        padding-top: 26px;
        padding-bottom: 26px;
        padding-left: 58px;
        padding-right: 54px;
        margin-right: 0;
        letter-spacing: 0;
        .sprite-small-white-right-arrow {
            margin-left: 2px;
        }
        &:hover {
            .sprite-small-white-right-arrow {
                background-position: -273px -209px;
                transition: .2s all;
            }
        }
    }
}

/* clients-block */

.clients-block {
    margin-top: 34px;
    padding-top: 63px;
    padding-bottom: 29px;
    background: $blendbg;
    &__title {
        margin-bottom: 20px;
    }
    &__text {
        line-height: 33px;
        font-size: 24px;
        color: $black;
    }
    &__items {
        margin-top: 13px;
        .swiper-button-next,
        .swiper-button-prev {
            opacity: 0;
            background-size: initial;
            background-image: url("../images/icons/spritesheet.png");
            background-repeat: no-repeat;
            top: 60%;
            &.swiper-button-disabled {
                opacity: 0;
            }
        }
        &:hover {
            .swiper-button-next,
            .swiper-button-prev {
                opacity: 1;
                transition: .2s all;
            }
        }
        .swiper-button-next {
            width: 41px;
            height: 22px;
            background-position: -245px -150px;
            right: 0px;
        }
        .swiper-button-prev {
            background-position: -245px -179px;
            width: 41px;
            height: 22px;
            left: 0px;
        }
    }
    &__item {
        height: 185px;
        line-height: 185px;
        img {
            width: 105px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

/* reviews-block */

.reviews-block {
    padding-top: 91px;
    padding-bottom: 91px;
    &__item {
        padding: 73px 60px;
        padding-bottom: 90px;
        opacity: 0 !important;
        &.swiper-slide-active {
            box-shadow: 0px 15px 43px rgba(21, 21, 0, 0.0896456);
            opacity: 1 !important;
        }
    }
    .review {
        &__img {
            float: right;
            max-height: 236px;
        }
        &__head {
            margin-top: 12px;
            max-width: 265px;
            font-size: 18px;
            font-weight: bold;
            color: #010101;
            &.line-styling::before {
                left: -102px;
                top: 7px;
            }
        }
        &__hint {
            margin-bottom: 14px;
            font-size: 16px;
            color: #010101;
        }
        &__text {
            line-height: 27px;
            font-size: 18px;
            color: #010101;
        }
    }
    .swiper-container {
        margin-top: 33px;
        margin-bottom: 35px;
        overflow: visible;
    }
}

/* section-content */

.page-content {
    overflow: hidden;
    &__top {
        position: relative;
        padding-top: 5px;
        padding-bottom: 36px;
        background-image: url(../images/bg/sectbg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background: rgba($darkblue, 0.66);
        }
    }
    &__title {
        max-width: 800px;
        margin-bottom: 52px;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        line-height: 60px;
        font-size: 50px;
        letter-spacing: 1px;
        color: $white;
    }
    &__pagination {
        margin-left: 9px;
        font-size: 18px;
        color: $white;
        opacity: 0.5;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
    }
    &__text {
        position: relative;
        text-transform: uppercase;
        z-index: 1;
        font-size: 18px;
        color: $white;
        opacity: 0.5;
    }
}

.item-card {
    width: calc(50% - 10px);
    height: 282px;
    line-height: 282px;
    position: relative;
    background: $white;
    box-shadow: 0px 15px 43px rgba(21, 21, 0, 0.0896456);
    float: left;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-top: 12px;
    transition: .2s all;
    &:hover {
        box-shadow: 0px 15px 43px rgba(21, 21, 0, 0.3);
        transform: scale(1.01);
    }
    &:nth-child(2n) {
        margin-left: 10px;
        margin-right: 0;
    }
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
    &__img-wrap {
        text-align: right;
        position: relative;
        img {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &__title {
        a {
            color: #000000;
        }
        margin-bottom: 2px;
        padding: 35px;
        padding-right: 26px;
        display: inline-block;
        vertical-align: bottom;
        font-size: 24px;
        line-height: 28px;
    }
}

.details {
    &__head {
        padding-top: 53px;
        padding-bottom: 99px;
    }
    &__numbers {
        padding-top: 71px;
        padding-bottom: 71px;
    }
    &__help {
        padding-top: 23px;
        padding-bottom: 23px;
    }

    &__docs {
      padding-top: 27px;
      padding-bottom: 27px;
    }
}

.item-numbers {
    &__body {
        margin-top: 40px;
    }
    &__row {
        width: 100%;
        padding: 12px 0;
        padding-bottom: 13px;
        position: relative;
        &:hover {
            background: $blendbg;
            &::before {
                position: absolute;
                z-index: 1;
                content: '';
                right: 49px;
                top: 25px;
                width: 63px;
                height: 6px;
                background: $blue;
            }
        }
    }
    &__name {
        margin-bottom: 0;
        width: 50%;
        float: left;
        font-weight: 600;
        line-height: 25px;
        font-size: 18px;
        letter-spacing: 1px;
        color: #000000;
    }
    &__value {
        margin-bottom: 0;
        width: 38%;
        float: left;
        line-height: 25px;
        font-size: 18px;
        letter-spacing: 1px;
        color: #000000;
    }
}

.item-detail {
    &__title {
        margin-bottom: 31px;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 1px;
        color: #000000;
        max-width: 700px;
    }
    &__row {}
    &__content {}
    &__img {
        padding-top: 11px;
    }
    &__caption {
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 25px;
    }
    &__text {
        font-size: 18px;
        line-height: 25px;
    }
}

.bonus-icons {
    background: $blendbg;
    padding-top: 40px;
    padding-bottom: 21px;
    &__item {
        float: left;
        width: 17%;
        margin-right: 73px;
    }
    .bonus {
        text-align: center;
        &__title {
            line-height: 25px;
            font-size: 20px;
            letter-spacing: 1px;
            color: #000000;
        }
        &__text {
            line-height: 24px;
            font-size: 18px;
            color: #000000;
        }
    }
}

.help-hint {
    &__wrap {
        margin-top: 53px;
        display: block;
        width: 100%;
    }
    &__info {
        width: 74%;
        padding: 33px 43px;
        float: left;
        border: 6px solid $blue;
    }
    &__text {
        font-size: 18px;
        line-height: 25px;
        color: #000000;
    }
    &__contacts {
        padding: 37px 10px;
        width: 25%;
        float: left;
        text-align: center;
    }
    &__name {
        font-size: 18px;
        letter-spacing: 1px;
        color: #B90000;
        margin-bottom: 5px;
    }
    &__value {
        font-size: 20px;
        letter-spacing: 1px;
        color: #000000;
    }
}

.red-form {
    padding-top: 92px;
    padding-bottom: 72px;
    background: $red;
    color: $white;
    &__title {
        margin-bottom: 21px;
        letter-spacing: 1px;
        font-size: 62px;
        color: $white;
        text-transform: uppercase;
    }
    &__text {
        color: $white;
        font-size: 20px;
    }
    &__hint {
        font-size: 14px;
        color: rgba($blend, 0.63);
    }
    .inl-form {
        margin-top: 46px;
        &__group {
            margin-bottom: 23px;
        }
        &__input {
            border: none;
            min-width: 320px;
            margin-right: 26px;
            padding: 25px;
            height: 75px;
            font-size: 18px;
            color: $dark;
            box-sizing: border-box;
            &::placeholder {
                color: rgba($dark, 0.3);
            }
        }
        .big-btn {
            padding: 0px 62px;
            margin-right: 0;
            margin-left: 0;
        }
        &__hint {
            color: rgba($blend, 0.6);
            margin-left: 10px;
            letter-spacing: 0;
            font-weight: normal;
        }
        &__checkbox {
            &:not(:checked),
            &:checked {
                position: absolute;
                left: -9999px;
                &+label {
                    position: relative;
                    padding-left: 1.95em;
                    cursor: pointer;
                    &:before {
                        content: '';
                        position: absolute;
                        left: -8px;
                        top: -1px;
                        width: 20px;
                        height: 20px;
                        background: $blend;
                    }
                    &:after {
                        content: '\2713';
                        position: absolute;
                        font-size: 30px;
                        top: -15px;
                        left: -8px;
                        color: $black;
                        transition: all .2s;
                    }
                }
            }
            /* checked mark aspect changes */
            &:not(:checked)+label:after {
                opacity: 0;
                transform: scale(0);
            }
            &:checked+label:after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}