@import 'core/extra';
@media(max-width: 768px) {
    .big-up-title {
        font-size: 24px;
    }
    .big-subtitle {
        font-size: 24px;
        line-height: normal;
    }
    .header {
        padding: 13px 0;
        padding-bottom: 20px;
        .navigation {
            &__list {
                float: none;
            }
            &__logo-sm {
                float: left;
            }
            &__phone-sm {
                padding-top: 10px;
                padding-left: 15px;
                float: left;
                font-size: 16px;
                line-height: 17px;
                color: $black;
                text-align: center;
                letter-spacing: 1.23077px;
                .phone-hint {
                    letter-spacing: 0;
                    font-family: 'Roboto';
                    font-size: 12px;
                    color: $blue;
                }
            }
            &__btn-sm {
                border: none;
                margin: 0;
                padding: 8px;
                position: absolute;
                right: -13px;
                top: 5px;
                .icon-bar {
                    transition: .2s all;
                    background: #000 !important;
                    width: 38px;
                    height: 4px;
                    margin-bottom: 8px;
                }
                &:hover {
                    background: #fff;
                }
                &[aria-expanded="true"] {
                    .icon-bar {
                        background: #000 !important;
                        width: 38px;
                        height: 4px;
                        margin-bottom: 8px;
                        &:nth-child(2) {
                            transform: rotate(45deg) translateX(10px) translateY(10px);
                        }
                        &:nth-child(4) {
                            background: #fff !important;
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg) translateX(-1px) translateY(2px);
                        }
                    }
                }
            }
            &__list-item>a {
                padding: 5px;
            }
        }
        .navbar-default .navbar-collapse,
        .navbar-default .navbar-form {
            border-color: transparent;
        }
    }
    .main-content {
        &__image {
            padding: 0;
            padding-top: 17px;
            padding-bottom: 37px;
        }
        &__title {
            font-size: 24px;
            line-height: 28px;
        }
        &__styling-line {
            margin-top: 40px;
            padding-left: 0;
            max-width: 226px; //////////////////////////////////////////////////////////////////////////////////////////////
        }
    }
    .page-content {
        &__top {
            padding-bottom: 10px;
        }
        &__title-wrap {
            line-height: normal;
            min-height: auto;
            padding-left: 6px;
        }
        &__title {
            line-height: 25px;
            font-size: 20px;
        }
    }
    .item-card {
        height: 140px;
        line-height: 132px;
        &__title {
            padding: 0 5px;
            font-size: 12px;
            line-height: normal;
        }
        &__img-wrap {
            img {
                max-width: 80px;
            }
        }
    }
    .item-detail {
        &__title {
            line-height: normal;
            font-size: 18px;
            margin-bottom: 0px;
        }
        &__caption {
            line-height: 22px;
            font-size: 16px;
            margin-bottom: 10px;
        }
        &__text {
            line-height: 25px;
            font-size: 12px;
        }
        &__img {
            padding-bottom: 12px;
        }
    }
    .details {
        &__head {
            padding-top: 6px;
            padding-bottom: 6px;
        }
        &__numbers {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__help {
            padding-top: 18px;
        }
    }
    .help-hint {
        &__wrap {
            margin-top: 45px;
        }
        &__info {
            width: 100%;
            padding: 20px 30px;
        }
        &__text {
            line-height: 20px;
            font-size: 14px;
        }
        &__contacts {
            width: 100%;
            padding: 10px;
        }
        &__name {
            font-size: 14px;
        }
        &__value {
            font-size: 14px;
        }
    }
    .item-numbers {
        &__body {
            margin-top: 0;
        }
        &__name,
        &__value {
            width: 100%;
            display: block;
            line-height: 20px;
            font-size: 14px;
        }
    }
    .line-styling {
        &::before {
            left: 0px;
            top: -21px;
        }
    }
    .production-block {
        &__wrap {
            margin-top: 15px;
            margin-bottom: 30px;
        }
        &__btn-wrap {
            text-align: center;
        }
        &__btn {
            width: 100%;
            margin: 0;
            text-align: center;
        }
    }
    .clients-block {
        padding-top: 0;
        margin-top: 23px;
        &__title {
            margin-bottom: 16px;
        }
        &__text {
            font-size: 14px;
            line-height: 20px;
        }
        &__item {
            height: 70px;
            line-height: 83px;
        }
        &__items {
            .swiper-button-next,
            .swiper-button-prev {
                opacity: 0 !important;
            }
        }
    }
    .reviews-block {
        padding-top: 63px;
        padding-bottom: 49px;
        &__item {
            padding: 0 25px;
        }
        .review {
            &__img {
                float: none;
            }
            &__head {
                line-height: 19px;
                font-size: 14px;
                &.line-styling {
                    &::before {
                        background: transparent;
                    }
                }
            }
            &__text {
                line-height: 27px;
                font-size: 14px;
            }
        }
        &__navigation {
            &.text-right {
                text-align: center;
            }
        }
    }
    .fnavigation {
        &__btn {
            margin: 0 10px;
        }
        &.text-right {
            text-align: center;
        }
    }
    .red-form {
        padding-top: 18px;
        padding-bottom: 38px;
        &__title {
            font-size: 24px;
            line-height: normal;
            margin-bottom: 12px;
        }
        &__text {
            font-size: 14px;
            line-height: normal;
        }
        .inl-form {
            &__input {
                min-width: 100%;
                width: 100%;
                margin-bottom: 11px;
            }
            &__sendbtn {
                margin-top: 5px;
                margin-bottom: 24px;
                width: 100%;
            }
            &__hint {
                line-height: 14px;
                font-size: 12px;
            }
            &__checkbox:checked+label {
                padding-left: 36px;
            }
            &__checkbox {
                &:not(:checked),
                &:checked {
                    &+label {
                        padding-left: 36px;
                        &:before {
                            left: -2px;
                            top: 3px;
                        }
                        &:after {
                            top: 2px;
                            left: 0px;
                        }
                    }
                }
            }
        }
    }
    .bonus-icons {
        &__item {
            width: 49%;
            margin-right: 0;
        }
        .bonus {
            &__title {
                line-height: 19px;
                font-size: 16px;
            }
            &__text {
                line-height: 19px;
                font-size: 14px;
            }
        }
    }
    .docs {
        &__navigation {
            margin-left: auto;
            margin-right: auto;
        }
        &__wrap {
            padding-top: 20px;
        }

        &__text {
            margin-top: 0;
            margin-bottom: 25px;
        }

        .img-responsive {
            margin: 0 auto;
        }
    }
    .footer {
        padding: 40px 0;
        &__contacts {
            padding-left: 0;
        }
        &__block {
            text-align: center;
            width: 100%;
            max-width: 100%;
            margin-right: auto !important;
            margin-left: auto !important;
        }
        &__special-right-padding {
            padding-right: 15px;
        }
        &__text {
            font-size: 14px;
            display: block;
            margin-bottom: 20px;
        }
    }
}