.news-block {
    padding-top: 64px;
    padding-bottom: 5px;
    &__wrapper {
        padding-top: 48px;
        padding-bottom: 65px;
    }
    &__item {
        position: relative;
        float: left;
        padding: 27px 40px;
        margin-bottom: 10px;
        border-top: 10px solid $blue;
        min-width: 190px;
        box-shadow: 0px 15px 43px rgba(21, 21, 0, 0.0896456);
        width: 40%;
        box-sizing: border-box;
    }
    &__content {}
    &__name {
        margin-top: 0;
        margin-bottom: 17px;
        font-size: 20px;
        line-height: 27px;
        text-transform: uppercase;
        color: #010101;
    }
    &__text {
        font-size: 18px;
        line-height: 27px;
        color: #010101;
    }
    &__date {
        float: left;
        font-size: 16px;
        line-height: normal;
        color: #000000;
    }
    &__link {
        float: right;
        font-size: 18px;
        line-height: normal;
        color: $red !important;
        text-decoration: none;
        font-weight: normal;
    }
    &__btn-wrap {
        text-align: right;
    }
}

@media(min-width: 768px) {
    .news-block {
        &__item {
            &--big {
                min-height: 398px;
                margin-right: 20px;
                width: calc(60% - 20px);
                border-top: 7px solid $blue;
                .news-block__bottom {
                    position: absolute;
                    bottom: 20px;
                    width: calc(100% - 80px);
                }
                .news-block__name {
                    margin-bottom: 26px;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .news-block {
        &__wrapper {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &__item {
            width: 100%;
            margin-bottom: 20px;
        }
        &__name {
            font-size: 15px;
            line-height: normal;
        }
        &__text {
            font-size: 14px;
            line-height: normal;
        }
        &__btn-wrap {
          text-align: center;
        }
    }
}