.production-block {
    padding-top: 35px;
    padding-bottom: 70px;
    &__wrap {
        margin-top: 45px;
        margin-bottom: 60px;
    }
    &__btn-wrap {
        text-align: right;
    }
    &__btn {
        padding-top: 26px;
        padding-bottom: 26px;
        padding-left: 58px;
        padding-right: 54px;
        margin-right: 0;
        letter-spacing: 0;
        .sprite-small-white-right-arrow {
            margin-left: 2px;
        }
        &:hover {
            .sprite-small-white-right-arrow {
                background-position: -273px -209px;
                transition: .2s all;
            }
        }
    }
}

@media(max-width: 767px) {
    .production-block {
        &__wrap {
            margin-top: 15px;
            margin-bottom: 30px;
        }
        &__btn-wrap {
            text-align: center;
        }
        &__btn {
            width: 100%;
            margin: 0;
            text-align: center;
        }
    }
}