.production {
    padding-top: 36px;
    padding-bottom: 92px;
    &__hint {
        padding-left: 163px;
        margin-top: 23px;
    }
    &__main-text {
        line-height: 30px;
        font-size: 20px;
        color: #000000;
    }
    &__content {
        padding-top: 155px;
        .line-styling-right {
            &::before {
                right: -106px;
            }
        }
        .line-styling {
            &::before {
                left: -125px;
            }
        }
    }
    &__block {
        margin-bottom: 82px;
        img {
            display: inline-block;
        }
    }
    &__block--even {
        .production__detail {
            padding-left: 20px;
        }
    }
    &__red-title {
        margin-top: 0;
        letter-spacing: 0px;
        font-size: 30px;
        color: #BE2D42;
    }
    &__text {
        line-height: 27px;
        font-size: 18px;
        color: #010101;
    }
}

@media(max-width: 767px) {
    .production {
        padding: 35px 0;
        &__hint {
            padding-left: 0;
            &.line-styling::before {
                display: none;
            }
        }
        &__main-text {
            font-size: 14px;
            line-height: normal;
        }
        &__content {
            padding-top: 0;
        }
        &__red-title {
            font-size: 20px;
        }
        &__text {
            font-size: 13px;
            line-height: normal;
        }
        &__block {
            margin-bottom: 35px;
        }
        &__detail {
            margin-top: 35px;
        }
    }
}