.red-form {
    position: relative;
    padding-top: 92px;
    padding-bottom: 72px;
    background: $red;
    color: $white;
    &__title {
        margin-bottom: 21px;
        letter-spacing: 1px;
        font-size: 62px;
        color: $white;
        text-transform: uppercase;
    }
    &__text {
        color: $white;
        font-size: 20px;
    }
    &__hint {
        font-size: 14px;
        color: rgba($blend, 0.63);
    }
    .inl-form {
        margin-top: 46px;
        .for-ie {
            display: none;
        }
        &__group {
            margin-bottom: 23px;
        }
        &__input {
            border: none;
            border-radius: 0;
            min-width: 320px;
            margin-right: 20px;
            padding: 25px;
            height: 75px;
            font-size: 18px;
            background: #E8F0FC;
            color: $dark;
            box-sizing: border-box;
            &::placeholder {
                color: rgba($dark, 0.3);
            }
        }
        .big-btn {
            padding: 0px 62px;
            margin-right: 0;
            margin-left: 0;
        }
        &__hint {
            color: rgba($blend, 0.6);
            margin-left: 10px;
            letter-spacing: 0;
            font-weight: normal;
        }
        &__checkbox {
            &:not(:checked),
            &:checked {
                position: absolute;
                left: -9999px;
                &+label {
                    position: relative;
                    padding-left: 1.95em;
                    cursor: pointer;
                    &:before {
                        content: '';
                        position: absolute;
                        left: -8px;
                        top: -1px;
                        width: 20px;
                        height: 20px;
                        background: $blend;
                    }
                    &:after {
                        content: '\2713';
                        position: absolute;
                        font-size: 30px;
                        top: -15px;
                        left: -8px;
                        color: $black;
                        transition: all .2s;
                    }
                }
            }
            /* checked mark aspect changes */
            &:not(:checked)+label:after {
                opacity: 0;
                transform: scale(0);
            }
            &:checked+label:after {
                opacity: 1;
                transform: scale(1);
            }
        }
        &__error {
            position: relative;
            p {
                position: absolute;
                top: -41px;
                &>font {
                    color: $blue !important;
                }
            }
        }
    }
}

@media(max-width: 991px) {
    .red-form {
        padding-top: 18px;
        padding-bottom: 38px;
        .big-btn {
            width: 100%;
        }
        &__title {
            font-size: 24px;
            line-height: normal;
            margin-bottom: 12px;
        }
        &__text {
            font-size: 14px;
            line-height: normal;
        }
        .inl-form {
            &__input {
                border-radius: 0;
                min-width: 100%;
                width: 100%;
                margin-bottom: 11px;
            }
            &__sendbtn {
                margin-top: 5px;
                margin-bottom: 24px;
                width: 100%;
            }
            &__hint {
                line-height: 14px;
                font-size: 12px;
            }
            &__checkbox:checked+label {
                padding-left: 36px;
            }
            &__checkbox {
                &:not(:checked),
                &:checked {
                    &+label {
                        padding-left: 36px;
                        &:before {
                            left: -2px;
                            top: 3px;
                        }
                        &:after {
                            top: 2px;
                            left: 0px;
                        }
                    }
                }
            }
        }
    }
}

.bx-ie8,
.bx-ie9 {
    .inl-form {
        &__input {
            margin-right: 5px;
        }

        .for-ie {
            position: absolute;
            color: #000;
            display: inline-block;
            width: 320px;
            margin-bottom: 0;
            margin-top: 20px;
        }
    }
}