@import 'extra';
/* header */

.header {
  border-bottom: 1px solid #979797;
  .navigation {
    margin: 0;
    background: $white;
    border: none;
    border-radius: 0;
    &__logo {
      padding: 30px 0 20px 35px;
      display: block;
    }
    &__list {
      float: right;
    }
    &__list-item {
      font-size: 16px;
      letter-spacing: 1.23077px;
      >a {
        margin-top: 15px;
        padding: 25px;
        color: $black !important;
        text-transform: uppercase;
        border-bottom: 4px solid transparent;
        transition: .1s all;
        &:hover {
          background: $white !important;
          color: $dark !important;
          border-color: $lightblue;
        }
        &.phone-link {
          border: none;
        }
      }
      &.active>a {
        &:hover,
        &:focus,
        &:active {
          background: $white !important;
        }
        background: $white;
        border-color: $blue;
      }
    }
    &__phone {
      padding-right: 20px;
      text-align: center;
      .phone-link {
        font-size: 16px;
        letter-spacing: 1.23077px;
        color: $black;
        padding: 15px 11px;
        padding-top: 16px;
      }
      .phone-hint {
        text-transform: none;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #1665F1;
      }
    }
    &__largebtn>a {
      font-size: 16px;
      letter-spacing: 1.93px;
      margin: 0 14px;
      margin-left: 10px;
      line-height: 0;
      padding: 50px 32px;
    }
  }
}