.about-page {
    &__top {
        padding-top: 113px;
        padding-bottom: 65px;
        background: url("../images/bg/aboutbg.jpg") no-repeat bottom;
        background-size: cover;
        &::before {
            background: rgba($darkblue, 0.42);
        }
        .page-content__title-wrap {
            min-height: 164px;
        }
    }
    &__text {
        padding-left: 160px;
        padding-right: 12px;
        line-height: 30px;
        font-size: 20px;
        color: #FFFFFF;
    }
    &__advantages {
        .advantage__content {
            padding-left: 79px;
        }
        .advantage__text {
            max-width: 180px;
        }
    }
    &__pagination {
        ul {
            >li {
                display: inline-block
            }
            >li+li:before {
                padding: 0 5px;
                content: "/\00a0"
            }
        }
    }
    &__production {}
    &__map {}
}

@media(max-width: 991px) {
    .about-page__advantages .advantage__text {
        max-width: 100%;
    }
}

@media(max-width: 767px) {
    .about-page {
        &__top {
            padding: 0;
            padding-bottom: 10px;
        }
        &__text {
            padding: 0;
            font-size: 14px;
            line-height: 19px;
        }
        .page-content__title-wrap {
            min-height: auto;
        }
        &__styling {
            margin-top: 10px;
            margin-bottom: 10px;
            &:before {
                display: none;
            }
        }
    }
}