.details {
    &__head {
        padding-top: 53px;
        padding-bottom: 99px;
    }
    &__numbers {
        padding-top: 71px;
        padding-bottom: 71px;
    }
    &__help {
        padding-top: 23px;
        padding-bottom: 23px;
    }
    &__docs {
        padding-top: 27px;
        padding-bottom: 49px;
    }
}

@media(max-width: 767px) {
    .details {
        &__head {
            padding-top: 6px;
            padding-bottom: 6px;
        }
        &__numbers {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__help {
            padding-top: 18px;
        }
    }
}