.details {
    &__head {
        padding-top: 53px;
        padding-bottom: 99px;
    }
    &__numbers {
        padding-top: 71px;
        padding-bottom: 71px;
    }
    &__help {
        padding-top: 23px;
        padding-bottom: 23px;
    }
    &__docs {
        padding-top: 27px;
        padding-bottom: 49px;
    }
}