.help-hint {
    &__wrap {
        margin-top: 53px;
        display: block;
        width: 100%;
    }
    &__info {
        width: 74%;
        padding: 33px 43px;
        float: left;
        border: 6px solid $blue;
    }
    &__text {
        font-size: 18px;
        line-height: 25px;
        color: #000000;
    }
    &__contacts {
        padding: 37px 10px;
        width: 25%;
        float: left;
        text-align: center;
    }
    &__name {
        font-size: 18px;
        letter-spacing: 1px;
        color: #B90000;
        margin-bottom: 5px;
    }
    &__value {
        font-size: 20px;
        letter-spacing: 1px;
        color: #000000;
    }
}

@media(max-width: 767px) {
    .help-hint {
        &__wrap {
            margin-top: 45px;
        }
        &__info {
            width: 100%;
            padding: 20px 30px;
        }
        &__text {
            line-height: 20px;
            font-size: 14px;
        }
        &__contacts {
            width: 100%;
            padding: 10px;
        }
        &__name {
            font-size: 14px;
        }
        &__value {
            font-size: 14px;
        }
    }
}