.item-card {
    width: calc(50% - 10px);
    height: 282px;
    line-height: 282px;
    position: relative;
    background: $white;
    box-shadow: 0px 15px 43px rgba(21, 21, 0, 0.0896456);
    float: left;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-top: 12px;
    transition: .2s all;
    &:hover {
        box-shadow: 0px 15px 43px rgba(21, 21, 0, 0.3);
        transform: scale(1.01);
    }
    &:nth-child(2n) {
        margin-left: 10px;
        margin-right: 0;
    }
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
    &__img-wrap {
        text-align: right;
        position: relative;
        img {
            position: absolute;
            right: 0;
            top: 0;
            max-width: 60%;
        }
    }
    &__title {
        position: relative;
        z-index: 12;
        a {
            color: #000000;
        }
        margin-bottom: 2px;
        padding: 35px;
        padding-right: 26px;
        display: inline-block;
        vertical-align: bottom;
        font-size: 24px;
        line-height: 28px;
    }
}

@media(max-width: 767px) {
    .item-card {
        height: 140px;
        line-height: 132px;
        &__title {
            padding: 0 5px;
            font-size: 12px;
            line-height: normal;
        }
        &__img-wrap {
            img {
                max-width: 80px;
            }
        }
    }
}