.specials {
  padding-top: 70px;
  padding-bottom: 106px;
  &__detail {
    font-size: 18px;
    line-height: 25px;
  }
}

.window-special {
  max-width: 940px !important;
  padding: 50px 140px;
  &__title {
    font-size: 20px;
  }
  .col-sm-6 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media(max-width: 767px) {
  .specials {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .window-special {
    max-width: 95% !important;
  }
}

@media(max-width: 360px) {
  .window-special {
    &__input {
      padding: 25px;
    }
  }
}